* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Abyssinica SIL";
    background-image: radial-gradient(circle, #ffffff, #dedcef, #babbe0, #949bd1, #697dc2);


}

/* --- TABLAS, EN GENERAL --- */
table{
    font-family: "Helvetica Neue";
    font-size: 15px;
    margin: 10px;
    width: 580px;
    text-align: center;
    border-collapse: collapse;
}

th{
    font-size: 18px;
    font-weight: bold;
    padding: 8px;
    background-color: #b9c9fe;
    border-top: 4px solid #aabcfe;
    border-bottom: 1px solid #ffff;
    color: #039;
}

td{
    padding: 8px;
    text-decoration: none;
    background-color: #e8edff;
    border-bottom: 1px solid #ffff;
    color: #039;
}

td a{
    text-decoration: none;
    color: black;
}

tr:hover td {
    background-color: #d0dafd;
    color: #339;
}

/*td a {
    text-decoration: none;
} */

td a:hover {
    text-decoration: underline;

}

/* --- clases boton y botonEliminar, se encuentran en la view de varias páginas --- */


.boton {
    font-weight: bold;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: black;
    background-color: gainsboro;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.boton:hover{
    background-color: #c2c2c2;
}

.boton:active{
    background-color: darkgray;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.boton a {
    padding: 1px;
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.botonEliminar {
    padding: 5px;
    background-color: lightcoral;
    border: 1px solid black;
    text-decoration: none;
}

.botonEliminar:hover {
    background-color: red;
    cursor: pointer;
}

.enlaces{
    text-decoration: none;
    color: black;
    background-color: lightgrey;
    outline: none;
    padding: 6px 6px 6px;
    border-radius: 10px;
    box-shadow: 10px 15px 20px 0 rgba(168, 168, 168, 0.83), 0 7px 0 0 rgba(168, 168, 168, 0.83);
}

.enlaces:hover{
    background-color: #c2c2c2;
}

.enlaces:active{
    background-color: darkgray;
    box-shadow: 0 5px #666;
    transform: translateX(14px);
}

/* --- class contenido, en resources/components/zz/base.blade.php --- */

.contenido {
    width: fit-content;
    margin: 10px auto;
}


/* --- resources/components/zz/menu.blade.php --- */


#menu {
    width: 100%;
    background-color: black;
    padding: 16px ;
}

#contenidoMenu {
    width: fit-content;
    margin: 0 auto;
}

.elementoMenu {
    padding: 10px;
    margin: 20px;
    background-color: #5fd0f5;
    color: #000000;
    text-decoration: none;
    font-family: "Helvetica Neue";
}

.elementoMenu:hover {
    background-color: #aabcfe;
    color: black;
}

.elementoMenu:active{
    background-color: #7575da;
}

/* --- footer, en resources/components/zz/base.blade.php --- */

footer {
    font-family: "Helvetica Neue";
    width: 100%;
    background-color: black;
    padding: 16px 0;
    margin-top: 24%;
}

footer p {
    color: white;
    text-align: center;
}



